.page {
  background-color: #fcf5e5;
  z-index: 1;
  font-family: "poppins", arial, serif;
}

.page__menu-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.page__menu-bar-logo {
  margin: 0;
  width: 94px;
  height: 26px;
  padding: 10px 80px;
  margin: 0 auto;
}

.page__header {
  display: flex;
  margin: 20px 80px 0;
  justify-content: space-between;
  max-width: 100%;
  min-height: 210px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  padding-bottom: 20px;
}

.page__header-button {
  margin: auto 0 0 0;
  width: 149px;
  min-height: 52px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 8px;
}

.page__header-button:hover {
  opacity: 80%;
}

.page__cards {
  max-width: 100%;
  min-height: 970px;
  margin: 20px 80px 0;
  display: grid;
  gap: 20px;
  padding-bottom: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

@media screen and (max-width: 1360px) {
  .page__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 930px) {
  .page__cards {
    grid-template-columns: auto;
    width: max-content;
    margin: 20px auto 60px;
  }

  .page__header {
    width: min-content;
    margin: 20px auto 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .page__header-button {
    width: 288px;
    margin: 20px auto;
    max-width: 100%;
  }
}
