.delete__card {
  display: flex;
  width: 630px;
  height: 172px;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 8px;
  font-family: "poppins", arial, serif;
  flex-direction: column;
}

.delete__Card_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
  font-size: 24px;
  margin: 32px auto 0;
}

.delete__card_buttonBox {
  width: 332px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
}

@media screen and (max-width: 930px) {
  .delete__card {
    width: 300px;
    height: 208px;
  }
}
