.page {
  display: flex;
  justify-content: center;
}

.page__content {
  background-color: #fcf5e5;
  z-index: 1;
  font-family: "poppins", arial, serif;
  width: 100vw;
}

@media screen and (max-width: 930px) {
  .page {
    flex-direction: column;
  }

  .page__header {
    width: min-content;
    margin: 20px auto 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}
